%h2 #{@trustee_candidate.name}'s Questionnaire

%div.questionnaire
  - form_for @trustee_candidate, :url => updateqa_trustee_candidate_path do |f|
    = f.error_messages
    %p
      = f.text_area :qa
    %p
      = f.submit "Save #{@trustee_candidate.name}'s Reply"
  
  %p.small
    %strong
      1) Copy/Paste Questions to Form.
    %br
    %br
    **Why did you decide to run in the 2010 school board election?**
    %br
    %br
    **What experience will you bring to complement your role as school trustee?**
    %br
    %br
    **What are the major issues you would like to stand for and why did you choose these issues?**
    %br
    %br
    **Is there anything in particular you would like to change in your school division? In your ward?**
    %br
    %br
    **Do you have any other comments regarding your candidacy?**
    %br
    %br
    %strong
      2) Copy/Paste Candidate Answer to Form.
    %br
    %br
    Ensure that paragraphs are separated by empty lines.
    %br
    %br
    For bulleted lists you must prefix each list item with an asteriks and a space, like so:
    %br
    %br
    * Item one is an important item.
    %br
    * Item two is also an item.
    %br
    * Item three never was an item.
    %br
    %br
    %em All other formatting will be lost.
  
%br
%br
%h3.grey Example Reply Formatting  
%p.grey.example_questionnaire.small
  **Why did you decide to run in the 2010 school board election?** 
  %br
  %br
  Fusce nunc diam, molestie ac eleifend sit amet, ultricies in massa. Nunc massa turpis, ultricies nec imperdiet nec, posuere nec sem. Quisque enim nunc, congue eu lobortis quis, pellentesque id lectus. Praesent id justo nulla, quis pellentesque leo. Curabitur eu quam erat. 
  %br
  %br
  Vestibulum aliquet urna in sapien fermentum sodales. Duis pretium pellentesque nibh, sit amet condimentum nisl porttitor et. In hac habitasse platea dictumst. Suspendisse fermentum, ligula varius ultricies convallis, lorem sem aliquet risus, sed ullamcorper nunc leo sed lacus.
  %br
  %br
  **What experience will you bring to complement your role as school trustee?** 
  %br
  %br
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam bibendum, lacus ac rhoncus feugiat, massa ante pretium augue, sit amet blandit urna odio eget lacus. Mauris cursus mauris ac leo pulvinar blandit vel et ipsum. Etiam volutpat, sem sed vulputate malesuada, turpis magna porttitor ipsum, non sodales felis mi in eros.
  %br
  %br
  * Sed venenatis tellus ac elit congue eu interdum nunc lacinia.
  %br
  * Sed lobortis ligula in lorem hendrerit et feugiat ligula ultrices. 
  %br
  * Suspendisse potenti
  %br
  %br
  **What are the major issues you would like to stand for and why did you choose these issues?**
  %br
  %br
  Donec metus neque, sodales eu tempor in, iaculis nec ligula. Morbi tincidunt consectetur tellus, nec elementum mauris ultrices eu. Cras sit amet ultricies nibh. Maecenas eu eros vitae lacus viverra lacinia et vitae ligula.
  %br
  %br
  **Is there anything in particular you would like to change in your school division? In your ward?** 
  %br
  %br
  Cras pretium consequat congue. Phasellus vitae sapien nibh. Integer eleifend lectus tempus tortor blandit scelerisque. Nam cursus viverra felis et consequat. Nulla non metus lectus.
  %br
  %br
  **Do you have any other comments regarding your candidacy?** 
  %br
  %br
  Vivamus interdum facilisis nulla vel dictum. Nam eget arcu a ante posuere convallis at in arcu. 
