- title "Trustee Candidate"

%p
  %strong Name:
  =h @trustee_candidate.name
%p
  %strong School Ward:
  = "#{@trustee_candidate.school_ward.school_division.name} - #{link_to @trustee_candidate.school_ward.name, @trustee_candidate.school_ward.ward_url}"
%p
  %strong Incumbent:
  =h @trustee_candidate.incumbent
%p
  %strong Incumbent Since:
  =h @trustee_candidate.incumbent_since
%p
  %strong Website:
  =h @trustee_candidate.website
%p
  %strong Facebook:
  =h @trustee_candidate.facebook
%p
  %strong Twitter:
  =h @trustee_candidate.twitter
%p
  %strong Youtube:
  =h @trustee_candidate.youtube
%p
  %strong Phone Number:
  =h @trustee_candidate.phone_number
%p
  %strong Email:
  =h @trustee_candidate.email
%p
  - if @trustee_candidate.image?
    %p
      %strong Map:
    = image_tag @trustee_candidate.image.url(:small)
  - else
    %strong Image Missing!

%p
  = link_to "Edit", edit_trustee_candidate_path(@trustee_candidate)
  |
  = link_to "Destroy", @trustee_candidate, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", trustee_candidates_path
