%h2 Proof #{@trustee_candidate.name}'s Reply

:markdown
  #{@trustee_candidate.qa}
  
%h2 Email #{@trustee_candidate.name}

%p
  #{@trustee_candidate.name},
%p
  Your questionnaire reply has been added to our site. It can be seen here:
%p
  http://winnipegelection.ca#{@trustee_candidate.candidate_url}
%p
  Thanks,
  %br
  Kyle

%br
%p
  = link_to 'Add More Candidate Replies', question_trustee_candidates_path