- form_for @news_article do |f|
  = f.error_messages
  %p
    = f.label :title
    %br
    = f.text_field :title
  %p
    = f.label :source
    %br
    = f.text_field :source
  %p
    = f.label :pubdate
    %br
    = f.datetime_select :pubdate
  %p
    = f.label :gnews_url
    %br
    = f.text_area :gnews_url
  %p
    = f.label :url
    %br
    = f.text_field :url
  %p
    = f.label :moderation
    %br
    = f.select :moderation, NewsArticle::MODERATION_OPTIONS
  %p
    = f.submit
  %p
    = f.label 'Mentions'
    %ul.mentions
      - for candidate in Candidate.all(:order => 'name')
        %li
          = check_box_tag 'news_article[candidate_ids][]', candidate.id, @news_article.candidates.include?(candidate)
          = candidate.name
