- title "News Articles"

%h3 New Articles (#{@news_articles_new.size})

%table
  %tr
    %th Article
    %th Source
    %th Pubdate
    %th Mentions
    %th Actions
    %th Moderation
  - for news_article in @news_articles_new
    %tr
      %td
        = link_to news_article.title, news_article.url
        %br
        - news_article.mentions.each do |m|
          %p
            %strong= m.candidate.name
            \- 
            = m.summary
      %td= h news_article.source
      %td= h news_article.pubdate
      %td= news_article.mentions.size
      %td
        = link_to 'Show', news_article
        = link_to 'Edit', edit_news_article_path(news_article)
      %td
        = link_to 'Reject', reject_news_article_path(news_article), :method => :post
        = link_to 'Approve', approve_news_article_path(news_article), :method => :post

%h3 Approved Articles

%table
  %tr
    %th Title
    %th Source
    %th Pubdate
    %th Mentions
    %th Actions
    %th Moderation
  - for news_article in @news_articles_approved
    %tr
      %td= link_to news_article.title, news_article.url
      %td= h news_article.source
      %td= h news_article.pubdate
      %td= news_article.mentions.size
      %td
        = link_to 'Show', news_article
        = link_to 'Edit', edit_news_article_path(news_article)
      %td
        = link_to 'Reject', reject_news_article_path(news_article), :method => :post


%h3 Rejected Articles

%table
  %tr
    %th Title
    %th Source
    %th Pubdate
    %th Mentions
    %th Actions
    %th Moderation
  - for news_article in @news_articles_rejected
    %tr
      %td= link_to news_article.title, news_article.url
      %td= h news_article.source
      %td= h news_article.pubdate
      %td= news_article.mentions.size
      %td
        = link_to 'Show', news_article
        = link_to 'Edit', edit_news_article_path(news_article)
      %td
        = link_to 'Approve', approve_news_article_path(news_article), :method => :post
