- title "School Wards"

%h2 Manage School Wards

%p= link_to "New School Ward", new_school_ward_path

%table
  %tr
    %th Name
    %th Description
    %th Seats
    %th Image
  - for school_ward in @school_wards
    %tr
      %td= "#{school_ward.school_division.name} - #{school_ward.name}"
      - if school_ward.description?
        %td yes
      - else
        %td.missing
      %td= h school_ward.seats
      - if school_ward.image?
        %td= image_tag school_ward.image(:tiny)
      - else
        %td.missing
      %td= link_to 'Show', school_ward
      %td= link_to 'Edit', edit_school_ward_path(school_ward)
      %td= link_to 'Destroy', school_ward, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New School Ward", new_school_ward_path
