- form_for @page do |f|
  = f.error_messages
  %p
    = f.label :title
    %br
    = f.text_field :title
  %p
    = f.label :permalink
    %br
    = f.text_field :permalink
  %p
    = f.label :content
    (#{link_to 'markdown enabled', 'http://daringfireball.net/projects/markdown/dingus'})
    %br
    = f.text_area :content
  %p
    = f.submit
