- form_for @candidate, :html => { :multipart => true }  do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :ward_id
    %br
    = f.collection_select :ward_id, @wards, :id, :name
  %p
    = f.label :incumbent_since
    %br
    = f.text_field :incumbent_since
  %p
    = f.label :website
    %br
    = f.text_field :website
  %p
    = f.label :facebook
    %br
    = f.text_field :facebook
  %p
    = f.label :twitter
    %br
    = f.text_field :twitter
  %p
    = f.label :youtube
    %br
    = f.text_field :youtube
  %p
    = f.label :office_address
    %br
    = f.text_field :office_address
  %p
    = f.label :phone_number
    %br
    = f.text_field :phone_number
  %p
    = f.label :email
    %br
    = f.text_field :email
  %p
    = f.label :majorissues, 'Major Issues'
    %br
    = f.text_field :majorissues
  %p
    = f.label 'Image'
    -if @candidate.image?
      %br
      = image_tag @candidate.image.url(:thumb)
      %br
      = f.label :delete_image, 'Delete Image?'
      = f.check_box(:delete_image)
    = f.file_field :image
  %p
    = f.submit
