- title "Candidates"

%table
  %tr
    %th Name
    %th Ward
    %th Incumbent since
    %th Website
    %th Facebook
    %th Twitter
    %th Youtube
    %th Office address
    %th Phone number
    %th Email
    %th Image url
    %th Dob
  - for candidate in @candidates
    %tr
      %td= h candidate.name
      %td= h candidate.ward_id
      %td= h candidate.incumbent_since
      %td= h candidate.website
      %td= h candidate.facebook
      %td= h candidate.twitter
      %td= h candidate.youtube
      %td= h candidate.office_address
      %td= h candidate.phone_number
      %td= h candidate.email
      %td= h candidate.image_url
      %td= h candidate.dob
      %td= link_to 'Show', candidate
      %td= link_to 'Edit', edit_candidate_path(candidate)
      %td= link_to 'Destroy', candidate, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Candidate", new_candidate_path
