- form_for @ward, :html => { :multipart => true } do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :ward_type
    %br
    = f.select :ward_type, Ward::WARD_TYPES
  %p
    = f.label :pdf_map_url
    %br
    = f.text_field :pdf_map_url
  %p
    = f.file_field :image
  %p
    = f.submit
  %p
    = f.label :stats
    %br
    = f.text_area :stats
  %p
    = f.label :past_votes
    %br
    = f.text_area :past_votes
  %p
    = f.submit