- title "Wards"

%h2 Manage Wards

%p= link_to "New Ward", new_ward_path

%table
  %tr
    %th Name
    %th Type
    %th PDF URL
    %th Image
    %th Stats
    %th Voting History
  - for ward in @wards
    %tr
      %td= link_to ward.name, ward
      %td= h ward.ward_type
      %td= link_to 'link', ward.pdf_map_url
      - if ward.image?
        %td= image_tag ward.image(:thumb)
      - else
        %td.missing
      - if ward.stats?
        %td yes
      - else
        %td.missing
      - if ward.past_votes?
        %td yes
      - else
        %td.missing
      %td= link_to 'Edit', edit_ward_path(ward)
      %td= link_to 'Destroy', ward, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Ward", new_ward_path
