- title "Ward"

%p
  %strong Name:
  =h @ward.name
%p
  %strong Type:
  =h @ward.ward_type
%p
  %strong Pdf Map Url:
  =h @ward.pdf_map_url
%p
  %strong Stats:
%blockquote
  :markdown
    #{@ward.stats}
%p
  %strong Voting History:
%blockquote.voting_history
  :markdown
    #{@ward.past_votes}
%p
  - if @ward.image?
    = image_tag @ward.image.url(:thumb)
  - else
    %strong Image Missing!
  
%p
  = link_to "Edit", edit_ward_path(@ward)
  |
  = link_to "Destroy", @ward, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", wards_path
