- hide_incumbent_link ||= false
- show_ward ||= false
- hide_candidate_link ||= true

.candidate{ :class => show_ward ? 'show_ward' : '' }
  -if show_ward
    %div.ward
      = candidate.ward.name
      - if candidate.incumbent_since?
        %p.since
          Incumbent since #{candidate.incumbent_since}
  .image
    - if candidate.image?
      = image_tag(candidate.image(:thumb))
      - #link_to image_tag(candidate.image(:thumb)), candidate.candidate_url
    - else
      = image_tag('/images/missing_candidate.jpg', :width => 100)
      - #link_to image_tag('/images/missing_candidate.jpg', :width => 100), candidate.candidate_url
  %p
    %strong
      - if hide_candidate_link
        = candidate.name
      - else
        = link_to candidate.name, candidate.candidate_url
    - if candidate.incumbent_since? && !hide_incumbent_link
      %span.incumbent_link= link_to 'incumbent', {:controller => 'info', :action => 'incumbents'}, :title => "since #{candidate.incumbent_since}"
  %p
    - if candidate.website?
      = link_to 'Election Website', candidate.website
    - else
      %span.grey Election Website
  %p.icons
    - if candidate.email?
      = link_to image_tag('/images/mail_active.jpg'), "mailto:#{candidate.email}"
    - else
      = image_tag '/images/mail_inactive.jpg'
      
    - if candidate.facebook?
      = link_to image_tag('/images/facebook_active.jpg'), candidate.facebook
    - else
      = image_tag '/images/facebook_inactive.jpg'
      
    - if candidate.twitter?
      = link_to image_tag('/images/twitter_active.jpg'), candidate.twitter
    - else
      = image_tag '/images/twitter_inactive.jpg'
      
    - if candidate.youtube?
      = link_to image_tag('/images/youtube_active.jpg'), candidate.youtube
    - else
      = image_tag '/images/youtube_inactive.jpg'
    
  %p.news_text
    News:
    = link_to "#{pluralize(candidate.mentions.size, 'Related Article', 'Related Articles')} Found", candidate.candidate_url + "#related_news"
    
  - if candidate.phone_number?
    %p.phone
      Phone:
      #{candidate.phone_number}