- hide_incumbent_link ||= false
- show_ward ||= false
- hide_candidate_link ||= false
- show_council_link ||= false
- show_other_resources ||= false

.candidate{ :class => show_ward ? 'show_ward' : '' }
  -if show_ward
    %div.ward
      = candidate.ward.name
      - if candidate.incumbent_since?
        %p.since
          Incumbent since #{candidate.incumbent_since}
  .image
    - if candidate.candidate_url
      - if candidate.image?
        = link_to image_tag(candidate.image(:thumb)), candidate.candidate_url
      - else
        = link_to image_tag('/images/missing_candidate.jpg', :width => 100), candidate.candidate_url
    - else
      - if candidate.image?
        = image_tag(candidate.image(:thumb))
      - else
        = image_tag('/images/missing_candidate.jpg', :width => 100)
  %p.name
    %strong
      - if hide_candidate_link
        = candidate.name
      - else
        = link_to candidate.name, candidate.candidate_url
    - if candidate.incumbent_since? && !hide_incumbent_link
      %span.incumbent_link= link_to 'incumbent', {:controller => 'info', :action => 'incumbents'}, :title => "since #{candidate.incumbent_since}"
  - if show_council_link && candidate.council_site?
    %p.election_website
      - if candidate.website?
        = link_to 'Election', candidate.website
        &
        = link_to 'Councillor', candidate.council_site
        Websites
      - else
        = link_to 'Councillor Website', candidate.council_site
  - else
    %p.election_website
      - if candidate.website?
        = link_to 'Election Website', candidate.website
      - else
        %span.grey Election Website
  %p.icons
    - if candidate.email?
      = link_to image_tag('/images/mail_active.jpg'), "mailto:#{candidate.email}"
    - else
      = image_tag '/images/mail_inactive.jpg'
      
    - if candidate.facebook?
      = link_to image_tag('/images/facebook_active.jpg'), candidate.facebook
    - else
      = image_tag '/images/facebook_inactive.jpg'
      
    - if candidate.twitter?
      = link_to image_tag('/images/twitter_active.jpg'), candidate.twitter
    - else
      = image_tag '/images/twitter_inactive.jpg'
      
    - if candidate.youtube?
      = link_to image_tag('/images/youtube_active.jpg'), candidate.youtube
    - else
      = image_tag '/images/youtube_inactive.jpg'
    - if defined?(candidate.mentions)
      -if candidate.mentions.size > 0
        = link_to image_tag('/images/rss_active.jpg'), candidate.rss_url, :title => "#{candidate.name}'s News Feed"
      - else
        = image_tag '/images/rss_inactive.jpg'
  
  - if defined?(candidate.mentions)
    %p.news_text
      News:
      = link_to "#{pluralize(candidate.mentions.size, 'Related Article', 'Related Articles')} Found", candidate.candidate_url + "#related_news"
    
  - if candidate.phone_number?
    %p.phone
      Phone:
      #{candidate.phone_number}
      
  - if show_other_resources && candidate.other_resources?
    %p.other_resources
      Extra:
      #{candidate.other_resources}