.ward_title
  %h2= ward.name
  %p.rss= link_to image_tag('/images/rss.jpg', :size => "12x12"), ward.rss_url, :title => "#{ward.name} Candidate News Feed"
  %p.map= link_to 'map', ward.pdf_map_url
%p
  There #{prefixed_pluralize ward.candidates.size, 'is', 'are', 'candidate'} in this ward.
  - if ward.candidates.size > 1
    %em.grey.small (Candidates are displayed in random order.)

.candidates
  = render :partial => 'candidate', :collection => ward.candidates
