- show_stats ||= false
- show_past_votes ||= false
- show_ward_news ||= false
- ward_url ||= ward.ward_url
- candidate_type ||= "City Council"
- (candidate_type == 'Mayoral') ? title(ward.name) : title("#{candidate_type} - #{ward.name}")

.ward_title
  %h2= "#{ward.name}"
  %p.rss= link_to image_tag('/images/rss.jpg', :size => "12x12"), ward.rss_url, :title => "#{ward.name} Candidate News Feed"
  %p.more_info= link_to 'city ward stats', ward_url + "#stats"
  %p.more_info= link_to 'past election results', ward_url + "#past_votes"
%p
  There #{prefixed_pluralize ward.candidates.size, 'is', 'are', candidate_type + ' candidate'} in this ward.
  - if ward.candidates.size > 1
    %em.grey.small (Candidates are displayed in random order.)

.candidates
  = render :partial => 'candidate', :collection => ward.candidates

.more_info
  - if show_stats
    %a{:name=>'stats'}
    .stats
      %h2 Ward Stats
      :markdown
        #{ward.stats}
      - if ward.image?
        %br
        %p
          %h2 Ward Map
          = link_to image_tag(@ward.image.url :small), ward.pdf_map_url, :title => 'View PDF Map'
          
  - if show_past_votes
    %a{:name=>'past_votes'}
    .past_votes
      %h2 Past Election Results
      :markdown
        #{ward.past_votes}
      %span.small
        %em Percentage of valid votes shown. #{link_to 'More election info...', static_path({:permalink => 'election_info'})}
  
  - if show_ward_news
    .ward_news
      %h2 Candidate News
      %p.small.grey
        %em Recent articles that mention candidates from this race.
      %ul
        - @news_articles.each do |n|
          %li
            %p.link= link_to n.title, n.fixed_url, :title => "#{n.source} - #{n.pretty_date}"
            %p.mentions
              - mlinks = []
              - candidate_ids = ward.candidates.map { |c| c.id }
              - n.mentions.each do |m|
                - mlinks << link_to(m.candidate.name, m.candidate.candidate_url) if candidate_ids.include?(m.candidate.id)
              Mentions: 
              = mlinks.join(', ')
      %div.footer
        %p.more= link_to 'More News...', {:controller => 'news_articles', :action => 'latest'}, :title => 'The latest news for all candidates.'
