- sidebar

%div#front_main
  %div#countdown
    %h2
      Winnipeg Election Results
    %p
      On
      %strong October 27 of 2010
      the citizens of Winnipeg went to the polls to elect their Mayor, their City Councillors and their School Trustees.
    %ul
      %li
        %a{ :href => "http://www.winnipeg.ca/clerks/docs/elections/2010Election/results/winnipeg.html" }
          View 2010 Election Results
      %li
        = link_to 'Our 2010 Open Data', '/open_data_2010'
    %p
      On
      %strong November 26th of 2011
      there was #{ link_to 'a by-election', '/by_election_2011' } for the following city council and school trustee wards:
      %ul
        %li
          %a{ :href => '/ward/St_Vital_By-Election' }
            St. Vital Civic Ward
        %li 
          %a{ :href => '/school_ward/Louis_Riel/Ward_2_By-Election' }
            Winnipeg School Division Ward 1
        %li
          %a{ :href => '/school_ward/Winnipeg/Ward_1_By-Election' }
            Louis Reil School Division Ward 2
        %li
          %a{ :href => 'http://www.winnipeg.ca/clerks/docs/elections/2011byelection/results/results.html' }
            View 2011 By-Election Results
  %div#your
    %h2 The 2010 Candidates
    %div.maps
      %a{ :href => '/info/mayor' }
        %img{ :src => '/images/city_thumb.png', :title => 'Click to see mayoral candidates.'}
      %a{ :href => '/info/council' }
        %img{ :src => '/images/civicwards_thumb.png', :title => 'Click to find city council candidates.'}
      %a{ :href => '/info/school_board' }
        %img{ :src => '/images/schoolwards_thumb.png', :title => 'Click to find school trustee candidates.'}
    %div.links
      %p
        = link_to 'Mayoral Candidates', :controller => 'info', :action => 'mayor'
      %p.small
        = link_to 'Role of the Mayor', '/role_mayor'
      %p.top_space
        = link_to 'City Council Candidates', :controller => 'info', :action => 'council'
      %p.small
        = link_to 'Role of a City Councillor', '/role_council'
      %p.top_space
        = link_to 'School Trustee Candidates', :controller => 'info', :action => 'school_board'
      %p.small
        = link_to 'Role of a School Trustee', '/role_trustee'
