- sidebar

%div#front_main
  %div#countdown
    %h2
      - if @days_until_election == 0
        The Election Is Today!
      - elsif @days_until_election > 0
        %span #{@days_until_election}
        #{(@days_util_election == 1) ? 'Day' : 'Days'} Until The Election
      - else
        The Election Has Already Passed.
    %p
      On <strong>Wednesday October 27</strong> of 2010 the citizens of Winnipeg go to the polls to elect their #{ link_to 'Mayor', :controller => 'info', :action => 'mayor'}, their #{ link_to 'City Councillors', :controller => 'info', :action => 'council'} and their #{ link_to 'School Trustees', :controller => 'info', :action => 'school_board'}.
    %ul
      %li
        = link_to 'General Election Information', static_path({:permalink => 'election_info'})
      %li
        = link_to 'Latest News &amp; Tweets', :controller => 'news_articles', :action => 'latest'
      %li
        = link_to 'Online Resources', static_path({:permalink => 'resources'})
    %h2
      Ward &amp; Voting Location
    #{ render :partial => 'lookup' }
    %p.small.grey
      Submit your street number (#) and street name to find your civic ward, school division, and voting locations. 
      %em
        (Provided by the #{ link_to "City Clerk's Dept", "http://www.winnipeg.ca/clerks/docs/elections/2010election/" }.)
  %div#your
    %h2 Meet Your Candidates
    %div.maps
      %a{ :href => '/info/mayor' }
        %img{ :src => '/images/city_thumb.png', :title => 'Click to see mayoral candidates.'}
      %a{ :href => '/info/council' }
        %img{ :src => '/images/civicwards_thumb.png', :title => 'Click to find city council candidates.'}
      %a{ :href => '/info/school_board' }
        %img{ :src => '/images/schoolwards_thumb.png', :title => 'Click to find school trustee candidates.'}
    %div.links
      %p
        = link_to 'Mayoral Candidates', :controller => 'info', :action => 'mayor'
      %p.small
        = link_to 'Role of the Mayor', '/role_mayor'
      %p.top_space
        = link_to 'City Council Candidates', :controller => 'info', :action => 'council'
      %p.small
        = link_to 'Role of a City Councillor', '/role_council'
      %p.top_space
        = link_to 'School Trustee Candidates', :controller => 'info', :action => 'school_board'
      %p.small
        = link_to 'Role of a School Trustee', '/role_trustee'
    
  %div#calendar
    %h2 Important Election Dates
    <iframe src="https://www.google.com/calendar/b/0/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=310&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=winnipeg.election%40gmail.com&amp;color=%23060D5E&amp;ctz=America%2FWinnipeg" style=" border-width:0 " width="660" height="310" frameborder="0" scrolling="no"></iframe>

