- sidebar

%div#front_main
  %div#countdown
    %h2
      Today Was Election Day
    %p
      On <strong>Wednesday October 27</strong> of 2010 the citizens of Winnipeg went to the polls to elect their #{ link_to 'Mayor', :controller => 'info', :action => 'mayor'}, their #{ link_to 'City Councillors', :controller => 'info', :action => 'council'} and their #{ link_to 'School Trustees', :controller => 'info', :action => 'school_board'}.      
    %h2
      Online Election Coverage
    %p
      The following websites have live online coverage of the election results.
    %ul
      %li
        %a{ :href => "http://www.cbc.ca/manitoba/features/manitobavotes2010/"}
          CBC Manitoba
      %li
        %a{ :href => "http://www.chrisd.ca/blog/"}
          ChrisD
      %li
        %a{ :href => "http://winnipeg.ctv.ca/election/"}
          CTV Winnipeg
      %li
        %a{ :href => "http://www.globalwinnipeg.com/story.html?id=3556527"}
          Global Winnipeg
      %li
        %a{ :href => "http://www.winnipegfreepress.com"}
          Winnipeg Free Press
  %div#your
    %h2 Meet Your Candidates
    %div.maps
      %a{ :href => '/info/mayor' }
        %img{ :src => '/images/city_thumb.png', :title => 'Click to see mayoral candidates.'}
      %a{ :href => '/info/council' }
        %img{ :src => '/images/civicwards_thumb.png', :title => 'Click to find city council candidates.'}
      %a{ :href => '/info/school_board' }
        %img{ :src => '/images/schoolwards_thumb.png', :title => 'Click to find school trustee candidates.'}
    %div.links
      %p
        = link_to 'Mayoral Candidates', :controller => 'info', :action => 'mayor'
      %p.small
        = link_to 'Role of the Mayor', '/role_mayor'
      %p.top_space
        = link_to 'City Council Candidates', :controller => 'info', :action => 'council'
      %p.small
        = link_to 'Role of a City Councillor', '/role_council'
      %p.top_space
        = link_to 'School Trustee Candidates', :controller => 'info', :action => 'school_board'
      %p.small
        = link_to 'Role of a School Trustee', '/role_trustee'
    
  %div#calendar
    %h2 Important Election Dates
    <iframe src="https://www.google.com/calendar/b/0/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=310&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=winnipeg.election%40gmail.com&amp;color=%23060D5E&amp;ctz=America%2FWinnipeg" style=" border-width:0 " width="660" height="310" frameborder="0" scrolling="no"></iframe>

