- title @title
- sidebar

%h2 Latest Winnipeg Election News
- @latest_news.each do |n|
  %p.small
    = n.pubdate.strftime("%A, %d %B %Y")
  %h3
    = link_to n.title, n.url
    \- #{n.source}
  %p.small
    %strong Mentions: 
    - n.mentions.each do |m|
      <a href="/ward/#{m.candidate.ward.name.sub(/^St\./,'St').gsub(' ','_')}">#{m.candidate.name}</a>
  %br
