- if !@candidates.nil?
  - @candidates.each do |c|
    %h2
      = c.name
      ( #{c.news_articles.size} )
    - c.news_articles.each do |n|
      %h3
        = link_to n.title, n.url
        \- #{n.source}
      %p.small
        = n.pubdate.strftime("%A, %d %B %Y")
    %br