-@candidates.each do |c|
  %h2
    = c.name
    ( #{c.mentions.size} )
  - c.mentions.each do |m|
    %h3
      = link_to m.news_article.title, m.news_article.url
      \- #{m.news_article.source}
    %p.small
      = m.news_article.pubdate.strftime("%A, %d %B %Y")
    %p
      = m.summary
  %br