- title "Election 2010 Wards"

%ul
  - for ward in @wards
    %li
      = link_to ward.name, "#" + ward.name
      %span.grey= pluralize ward.candidates.size, 'candidate'

- for ward in @wards
  %a{:name => ward.name}
  .ward_title
    %h2= ward.name
    %p= link_to 'map', ward.pdf_map_url
  .candidates
    = render :partial => 'candidate', :collection => ward.candidates
