!!! Strict
%html{html_attrs}
  
  %head
    %title
      - if (t = yield(:title)) 
        = h yield(:title) + " - Winnipeg Election 2010"
      - else
        Winnipeg Election - Civic Election 2010
    
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    %meta{'name'=>'keywords', :content => @meta_keywords}/
    - if @meta_description
      %meta{'name'=>'description', :content => @meta_description}/
    - if @atom_auto_discovery
      = auto_discovery_link_tag(:atom, @atom_auto_discovery)
    
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'droplist-flyout.css'
    = yield(:head)
    
    <link href="/favicon.ico?3" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    
    = javascript_include_tag 'jquery'
    
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-17537013-1']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
  
  %body
    %div#header
      %h1
        Winnipeg Civic Election 2010
    #container
      %div.dropList
        %ul
          %li= link_to 'Home', root_path
          :plain
            <li class="oneCol"><a class="oneCol fly nohover" href="">Candidates<!--[if gte IE 7]><!--></a><!--<![endif]--> 
              <!--[if lte IE 6]><table><tr><td><![endif]--> 
              <div> 
                <ul> 
                  <li><a href="/info/mayor">Mayoral Candidates</a></li>
                  <li class="fly"><a class="fly" href="/info/council">Council Candidates<!--[if gte IE 7]><!--></a><!--<![endif]--> 
                  <!--[if lte IE 6]><table><tr><td><![endif]--> 
                    <ul> 
                      <li><a href="/ward/Charleswood_-_Tuxedo">Charleswood - Tuxedo</a></li> 
                      <li><a href="/ward/Daniel_McIntyre">Daniel McIntyre</a></li> 
                      <li><a href="/ward/Elmwood_-_East_Kildonan">Elmwood - East Kildonan</a></li>
                      <li><a href="/ward/Fort_Rouge_-_East_Fort_Garry">Fort Rouge - East Fort Garry</a></li> 
                      <li><a href="/ward/Mynarski">Mynarski</a></li> 
                      <li><a href="/ward/North_Kildonan">North Kildonan</a></li> 
                      <li><a href="/ward/Old_Kildonan">Old Kildonan</a></li> 
                      <li><a href="/ward/Point_Douglas">Point Douglas</a></li> 
                      <li><a href="/ward/River_Heights_-_Fort Garry">River Heights - Fort Garry</a></li> 
                      <li><a href="/ward/St_Boniface">St. Boniface</a></li> 
                      <li><a href="/ward/St_Charles">St. Charles</a></li> 
                      <li><a href="/ward/St_James_-_Brooklands">St. James - Brooklands</a></li> 
                      <li><a href="/ward/St_Norbert">St. Norbert</a></li>
                      <li><a href="/ward/St_Vital">St. Vital</a></li>
                      <li><a href="/ward/Transcona">Transcona</a></li> 
                    </ul> 
                  <!--[if lte IE 6]></td></tr></table></a><![endif]--> 
                  </li> 
                </ul> 
              </div> 
            <!--[if lte IE 6]></td></tr></table></a><![endif]--> 
            </li>
          %li= link_to 'Latest News', {:controller => 'news_articles', :action => 'latest'}
          %li= link_to 'Calendar', static_path({:permalink => 'calendar'})
          :plain
            <li class="oneCol"><a class="oneCol fly nohover" href="/election_info">Election Info<!--[if gte IE 7]><!--></a><!--<![endif]--> 
              <!--[if lte IE 6]><table><tr><td><![endif]--> 
              <div> 
                <ul> 
                  <li><a href="/election_info">General Election Info</a></li>
                  <li><a href="/roles">Roles of Elected Officials</a></li>
                  <li><a href="/resources">Online Resources</a></li>
                </ul> 
              </div> 
            <!--[if lte IE 6]></td></tr></table></a><![endif]--> 
            </li>
          %li= link_to 'About', static_path({:permalink => 'about'})
          
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      
      %div.twitter
        <a href="http://www.twitter.com/WpgElection"><img src="http://twitter-badges.s3.amazonaws.com/follow_us-a.png" alt="Follow WpgElection on Twitter"/></a>
      
      - if @show_sidebar
        #main
          = yield
        #sidebar
          %div.facebook
            <iframe src="http://www.facebook.com/plugins/likebox.php?id=145495908793867&amp;width=237&amp;connections=8&amp;stream=false&amp;header=false&amp;height=272" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:237px; height:272px;" allowTransparency="true"></iframe>
          %h3 Latest Election News
          %div.sidebar_news
            - @latest_news_by_date.each do |date, articles|
              %p.date= date
              %ul
                - articles.each do |n|
                  %li
                    %p.link
                      = link_to n.title, n.fixed_url
                    %p.mentions
                      Mentions: 
                      - mlinks = []
                      - n.mentions.each do |m|
                        - mlinks << link_to(m.candidate.name, m.candidate.candidate_url)
                      = mlinks.join(', ')
            %div.footer
              %p.more= link_to 'More News...', :controller => 'news_articles', :action => 'latest'
              %p.rss= link_to image_tag('/images/rss.jpg', :size => "13x13"), latest_feed_path(:atom), :title => "News Feed for all Winnipeg Election Candidates"
      - else
        - if @show_feedback
          #feedback
            %p
              Send us your additions and corrections:
            %p
              <a href="mailto:winnipeg.election@gmail.com">winnipeg.election@gmail.com</a>
        #main-full
          = yield
      
      #footer
        %hr.light
        Winnipeg Election 2010 - All content is public domain.
    
    <script type="text/javascript">
    var sc_project=6061793; 
    var sc_invisible=1; 
    var sc_security="bc1ee522"; 
    </script>
    <script type="text/javascript" src="http://www.statcounter.com/counter/counter_xhtml.js"></script>
    = javascript_include_tag 'main' 
