!!! Strict
%html{html_attrs}
  
  %head
    %title
      - if (t = yield(:title)) 
        = h yield(:title) + " - Winnipeg Election"
      - else
        Winnipeg Election - Civic By-Election 2011
    
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    %meta{'name'=>'keywords', :content => @meta_keywords}/
    - if @meta_description
      %meta{'name'=>'description', :content => @meta_description}/
    - if @atom_auto_discovery
      = auto_discovery_link_tag(:atom, @atom_auto_discovery)
    
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'droplist-flyout.css'
    = yield(:head)
    
    <link href="/favicon.ico?3" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    
    = javascript_include_tag 'jquery'
 
  %body
    %div#header
      %h1
        = link_to 'Winnipeg Civic Election', '/'
      %h3
        A <a href="/about">Citizen Created</a> Election Resource
    #container
      %div.dropList
        %ul
          %li= link_to 'Home', root_path
          :plain
            <li class="oneCol"><a class="oneCol fly nohover" href="">Candidates<!--[if gte IE 7]><!--></a><!--<![endif]--> 
              <!--[if lte IE 6]><table><tr><td><![endif]--> 
              <div> 
                <ul> 
                  <li class="fly"><a class="fly nohover" href="#">Council Candidates<!--[if gte IE 7]><!--></a><!--<![endif]--> 
                  <!--[if lte IE 6]><table><tr><td><![endif]--> 
                    <ul> 
                      <li><a href="/ward/St_Vital_By-Election/">St. Vital By-Elecion</a></li>
                    </ul> 
                  <!--[if lte IE 6]></td></tr></table></a><![endif]--> 
                  </li> 
                  <li class="fly"><a class="fly nohover" href="#">School Trustees<!--[if gte IE 7]><!--></a><!--<![endif]--> 
                  <!--[if lte IE 6]><table><tr><td><![endif]--> 
                    <ul> 
                      <li class="fly"><a class="fly nohover" href="#">Louis Riel<!--[if gte IE 7]><!--></a><!--<![endif]--> 
                        <!--[if lte IE 6]><table><tr><td><![endif]--> 
                        <ul>
                          <li><a href="/school_ward/Louis_Riel/Ward_2_By-Election">Ward 2 By-Election</a></li>
                        </ul> 
                        <!--[if lte IE 6]></td></tr></table></a><![endif]--> 
                      </li> 
                      <li class="fly"><a class="fly nohover" href="#">Winnipeg<!--[if gte IE 7]><!--></a><!--<![endif]-->  
                        <!--[if lte IE 6]><table><tr><td><![endif]--> 
                        <ul>
                          <li><a href="/school_ward/Winnipeg/Ward_1_By-Election">Ward 1 By-Election</a></li>
                        </ul> 
                        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                      </li>
                    </ul> 
                  <!--[if lte IE 6]></td></tr></table></a><![endif]--> 
                  </li>
                  
                </ul> 
              </div> 
            <!--[if lte IE 6]></td></tr></table></a><![endif]--> 
            </li>
          :plain
            <li class="oneCol"><a class="oneCol fly nohover" href="/election_info">Election Info<!--[if gte IE 7]><!--></a><!--<![endif]--> 
              <!--[if lte IE 6]><table><tr><td><![endif]--> 
              <div> 
                <ul> 
                  <li><a href="/election_info">General Election Info</a></li>
                  <li><a href="/info/incumbents">Election Incumbents</a></li>
                  <li><a href="/roles">Roles of Elected Officials</a></li>
                  <li><a href="/resources">Online Resources</a></li>
                </ul> 
              </div> 
            <!--[if lte IE 6]></td></tr></table></a><![endif]--> 
            </li>
          :plain
            <li class="oneCol"><a class="oneCol fly nohover" href="/about">About<!--[if gte IE 7]><!--></a><!--<![endif]--> 
              <!--[if lte IE 6]><table><tr><td><![endif]--> 
              <div> 
                <ul> 
                  <li><a href="/about">About Us</a></li>
                  <li><a href="/faq">FAQ</a></li>
                  <li><a href="/press">Press</a></li>
                  <li><a href="/open_data_2010">Open Data</a></li>
                </ul> 
              </div> 
            <!--[if lte IE 6]></td></tr></table></a><![endif]--> 
          
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      
      %div.twitter
        <a href="http://www.twitter.com/WpgElection"><img src="http://twitter-badges.s3.amazonaws.com/follow_us-a.png" alt="Follow WpgElection on Twitter"/></a>
      
      - if @show_sidebar
        #main
          = yield
        #sidebar
          %div.facebook
            <iframe src="http://www.facebook.com/plugins/likebox.php?id=145495908793867&amp;width=237&amp;connections=8&amp;stream=false&amp;header=false&amp;height=272" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:237px; height:272px;" allowTransparency="true"></iframe>
          %br
          %div
            <g:plusone annotation="inline" with="235"></g:plusone>
      - else
        - if @show_feedback
          #feedback
            %p
              %strong Election Results: 
            %p
              %strong
                <a href="http://www.winnipeg.ca/clerks/docs/elections/2010Election/results/winnipeg.html">View 2010 Election Results</a>
        #main-full
          = yield
      
      #footer
        %hr.light
        Winnipeg Election - All content is public domain.
    
    <script type="text/javascript">
    var sc_project=6061793; 
    var sc_invisible=1; 
    var sc_security="bc1ee522"; 
    </script>
    <script type="text/javascript" src="http://www.statcounter.com/counter/counter_xhtml.js"></script>
    = javascript_include_tag 'main' 
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-17537013-1']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
    - if @show_sidebar
      <script type="text/javascript">
      (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
      </script>
 
